			.table1 {
				border: 1px solid black;
				border-collapse: collapse;
				width: 10%;
			}

			th, td {
				border: 1px solid black;
				padding: 8px;
			}

			td:last-child {
				text-align: right;
				padding-left: 8px;
			}

			.table2 {
				border: 1px solid black;
				border-collapse: collapse;
				width: 30%;
				text-align: center;
			}

			.table2 th, .table2 td {
				border: 1px solid black;
				padding: 8px;
			}

			.table2 td:nth-child(2) {
				text-align: center;
			}    